.btn-End{
    .btn2 {
     background-color: #6ED5B7;
      color: white;
   
    }
    .btn6{
      background-color: #EF4444;
      color: white;
    }
   
  }
   .Text-Score{
      color: white;
      font-size: 40px;

    }